<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Prototype</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
     crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
      html { overflow-y: auto }
      .ghost{
        opacity:.5;
      }
      .drag{
        opacity:1 !important;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app id="inspire">

        <!-- ############### -->
        <!-- #   sidebar   # -->
        <!-- ############### -->
        <v-navigation-drawer
          v-model="drawer"
          app
          color="primary"
          dark
        >
        <template v-slot:prepend>
          <v-text-field
            rounded
            dense
            label="Search"
            solo
            append-icon="mdi-magnify"
            background-color="transparent"
            flat
            class="mt-4"
            hide-details

          ></v-text-field>

          <v-list-item two-line color="white--text">
            <v-list-item-avatar >
              <img :src="current.picture.medium">
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{current.name.title}} {{current.name.first}} {{current.name.last}}</v-list-item-title>
              <v-list-item-subtitle>Product Owner</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon>
                <v-icon color="grey lighten-1">mdi-dots-horizontal</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="font-weight-bold">372</v-list-item-title>
              <v-list-item-subtitle style="font-size:11px">Completed Tasks</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-title class="font-weight-bold">11</v-list-item-title>
              <v-list-item-subtitle style="font-size:11px">Open Tasks</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-subheader class="mb-1">MENU</v-subheader>
        <v-list dense class="py-0">
          <v-list-item
            v-for="(item, i) in menuItems"
            :key="i"
            link
          >
            <v-list-item-content>
              <v-list-item-title>{{ item.title }} <v-avatar class="ml-2" size="20" v-if="item.badge" color="white black--text">{{item.badge}}</v-avatar></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-subheader>TEAMS</v-subheader>
        <v-list dense class="py-0">
          <v-list-item
            v-for="(item,i) in menuTeams"
            :key="i"
            link
          >
            <v-list-item-content>
              <v-list-item-title>{{ item.title }} <v-avatar class="ml-2" size="20" v-if="item.badge" color="white black--text">{{item.badge}}</v-avatar></v-list-item-title>
            </v-list-item-content>
            <v-list-item-content>
              <div>
                <v-avatar :key="i" v-for="(user,i) in item.users" size="25"><v-img :src="user.picture.thumbnail" ></v-img></v-avatar>
              </div>
            </v-list-item-content>
          </v-list-item>
          <v-list-item >
            <v-list-item-title class="primary--text text--lighten-2">+ Add a team</v-list-item-title>
          </v-list-item>
        </v-list>
        </v-navigation-drawer>

        <!-- ################### -->
        <!-- # application bar #-->
        <!-- ################### -->
        <v-app-bar app flat color="transparent" height="100">
          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
          <div class="d-flex align-center">
            <v-img
            src="assets/logo-prosa.png"
            contain
            width="45"
            class="ml-2"
            ></v-img>
            <h1 class="ml-3">Kanban Prosa</h1>
            <v-btn fab x-small depressed class="ml-4"><v-icon>mdi-dots-horizontal</v-icon></v-btn>
          </div>
          <v-spacer></v-spacer>
          <div>
            <v-avatar :key="i" v-for="(user,i) in topMember" size="25"><v-img :src="user.picture.thumbnail" ></v-img></v-avatar>
            <v-chip class="font-weight-bold"><v-avatar>{{users.length}}</v-avatar> Members</v-chip>
          </div>
        </v-app-bar>

        <v-main class="">
          <div class="d-flex align-start">
            <v-card width="300px" class="ma-5">
              <v-toolbar flat>
                <v-toolbar-title>Backlog</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="addTaskLabel='backlog';addDialog=true" color="primary lighten-2" rounded><v-icon left>mdi-plus</v-icon>Add Task</v-btn>
              </v-toolbar>
              <draggable v-model="backlog" v-bind="dragOptions">
                  <v-sheet rounded v-for="(item,i) in backlog" color="grey lighten-4" class="pa-5 ma-3" :key="i">
                    <h4>{{item.title}}</h4>
                    <div class="d-flex mt-3">
                      <v-chip small >{{item.assignee}}</v-chip>
                      <v-chip small v-for="(tag, i) in item.tags" :key="i" :class="[randomizeColor(tag),'lighten-4',randomizeColor(tag)+'--text','text--darken-2', 'font-weight-bold' ]">{{tag}}</v-chip>
                      <v-chip class="ml-auto" small color="transparent">{{substractDate(item.start_date,item.end_date)}} Days</v-chip>
                    </div>
                  </v-sheet>
              </draggable>
            </v-card>

            <v-card width="300px" class="ma-5">
              <v-toolbar flat>
                <v-toolbar-title>To do</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="addTaskLabel='todo';addDialog=true" color="primary lighten-2" rounded><v-icon left>mdi-plus</v-icon>Add Task</v-btn>
              </v-toolbar>
              <draggable v-model="todo" v-bind="dragOptions">
                  <v-sheet rounded v-for="(item,i) in todo" color="grey lighten-4" class="pa-5 ma-3" :key="i">
                    <h4>{{item.title}}</h4>
                    <div class="d-flex mt-3">
                      <v-chip small >{{item.assignee}}</v-chip>
                      <v-chip small v-for="(tag, i) in item.tags" :key="i" :class="[randomizeColor(tag),'lighten-4',randomizeColor(tag)+'--text','text--darken-2', 'font-weight-bold' ]">{{tag}}</v-chip>
                      <v-chip class="ml-auto" small color="transparent">{{substractDate(item.start_date,item.end_date)}} Days</v-chip>
                    </div>
                  </v-sheet>
              </draggable>
            </v-card>

            <v-card width="300px" class="ma-5">
              <v-toolbar flat>
                <v-toolbar-title>Done</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="addTaskLabel='done';addDialog=true;" color="primary lighten-2" rounded><v-icon left>mdi-plus</v-icon>Add Task</v-btn>
              </v-toolbar>
              <draggable v-model="done" v-bind="dragOptions">
                <v-sheet rounded v-for="(item,i) in done" color="grey lighten-4" class="pa-5 ma-3" :key="i">
                  <h4>{{item.title}}</h4>
                  <div class="d-flex mt-3">
                    <v-chip small >{{item.assignee}}</v-chip>
                    <v-chip small v-for="(tag, i) in item.tags" :key="i" :class="[randomizeColor(tag),'lighten-4',randomizeColor(tag)+'--text','text--darken-2', 'font-weight-bold' ]">{{tag}}</v-chip>
                    <v-chip class="ml-auto" small color="transparent">{{substractDate(item.start_date,item.end_date)}} Days</v-chip>
                  </div>
                </v-sheet>
              </draggable>
            </v-card>
          </div>
        </v-main>
        <v-dialog v-model="addDialog" width="300">
          <v-card>
            <v-card-title>New Task</v-card-title>
            <v-card-text>
              <v-form>
                <v-text-field v-model="form.title" label="Title" outlined></v-text-field>
                <v-text-field v-model="form.tags" label="Tags" outlined></v-text-field>
                <v-text-field v-model="form.assignee" label="Assignee" outlined></v-text-field>
                <v-text-field :rules="dateRules" v-model="form.start_date" label="Start Date" outlined></v-text-field>
                <v-text-field :rules="dateRules" v-model="form.end_date" label="End Date" outlined></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn rounded @click="addNewTask()" color="primary">Add</v-btn>
              <v-btn rounded @click="addDialog=false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-app>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
